.main-products {
    width: 100%;
    position: relative;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    box-sizing: border-box;
    flex: 1;
  }