@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

p {
  margin: 0;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 96px;
  padding: 32px 32px 30px;
  border-bottom-width: 1px;
  border-color: rgba(217, 217, 217, 1);
  border-style: solid;
  box-sizing: border-box;
  background-color: rgba(255, 45, 85, 1);
}
.navigation-pill-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 1174px;
  height: 100%;
  box-sizing: border-box;
}
.navigation-pill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 1);
}
.nav-title {
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.navigation-pill-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 100%;
  padding: 8px;
  border-radius: 8px;
  box-sizing: border-box;
}
.title-1 {
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.header-auth {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 178px;
  height: 100%;
  box-sizing: border-box;
}

.button {
  color: rgba(30, 30, 30, 1);
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.button-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 83px;
  height: 100%;
  padding: 6px;
  border: 1px solid rgba(44, 44, 44, 1);
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(44, 44, 44, 1);
}
.button-2 {
  color: rgba(245, 245, 245, 1);
  font-size: 16px;
  line-height: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
}


.more-info{
  width: 150px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  color: black;
  box-sizing: border-box;
}
.button-1 {
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 8px;
 width: 83px;
 height: 100%;
 padding: 6px;
 border: 1px solid rgba(118, 118, 118, 1);
 border-radius: 8px;
 box-sizing: border-box;
 background-color: rgba(227, 227, 227, 1);
}

.user {
  position: absolute;
  width: 200px;
  height: 30px;
  right: 0px;
  top: 20px;
  background: url(assets/user.png);
  background-repeat: no-repeat;
  background-position: 150px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0px 2px;
}
